body
{
    background-color:#252525;
}


p,td
{
    margin-top: 0px;
    color: rgb(247, 235, 222);
    font-family: 'Roboto', sans-serif;
}
h1
{
    color: rgb(99, 55, 221);
    font-family: 'Cookie' , cursive;
    font-size: 4.50rem;
}

h2
{
    font-family: 'Oswald', sans-serif;
    margin-top: 0px;
    color: rgb(99, 55, 221);
    font-size: 2.50rem;
}

h3
{
    font-family: 'Oswald', sans-serif;
    margin-top: 0px;
    color: rgb(99, 55, 221);
    font-size: 2.0rem;
}
p
{
    font-size:1.20rem;
}

table
{
    align-content: center;
    align-self: center;
    box-align: center;
    width: 100%;

}

th
{
    color: rgb(223, 219, 215);
    font-family: 'Oswald', sans-serif;
    font-size: 1.50rem;
}
td 
{

    font-family: 'Roboto', sans-serif;
    font-size: 1.20rem;
    align-self: center;
    align-content :center;
    color: rgb(247, 235, 222);
    
}

hr
{
    width: 65%;
    height: 2px;
    border-style: none;
    background-color: rgb(117, 117, 117);
    margin-bottom: 30px;
    margin-top: 30px;
}

li
{
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.20rem;
    color: rgb(247, 235, 222);;
}

button
{
    width: 25%;
    background-color: rgb(68, 29, 175);
    border: none;
    color: rgb(247, 235, 222);
    text-align: center;
    font-family: 'Cookie' , cursive;
    font-size: 4.50rem;
    border-radius: 8px;
    margin: 0 auto;
    
    transition: background-color 0.4s ease-out;

}
button:hover
{
    background-color: rgb(21, 6, 63);
}

.top-container
{
    padding-top: 5%;
    position: relative;
    text-align: center;
    width: 100%;
    background-image: url(images\Background.png);
    background-size: cover;
    
}

.mid-container
{
    width: 100%;
}

.mid-container2
{
    width: 100%;
    text-align: center;
}

.bot-container
{
    width: 100%;
    padding-bottom: 5%;
    text-align: center;
    
}
 
