body
{
    background-color:#252525;
}


p,td
{
    margin-top: 0px;
    color: rgb(247, 235, 222);
    font-family: 'Roboto', sans-serif;
}
h1
{
    color: rgb(247, 235, 222);
    font-family: 'Cookie' , cursive;
    font-size: 50px;
}

h2,h3
{
    font-family: 'Oswald', sans-serif;
    margin-top: 0px;
    color: rgb(247, 235, 222);
}
p
{
    font-size:20px;
}

table
{
    align-content: center;
    align-self: center;
    box-align: center;

}

th
{
    color: rgb(223, 219, 215);
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
td 
{

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    align-self: center;
    align-content :center;
    color: rgb(247, 235, 222);
    
}

hr
{
    width: 65%;
    height: 2px;
    border-style: none;
    background-color: rgb(73, 73, 73);

}
.top-container
{
    padding-top: 5%;
    position: relative;
    text-align: center;
    width: 100%;
}

.mid-container
{
    width: 100%;
}

.bot-container
{
    width: 100%;
    padding-bottom: 5%;

}
